// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$blackText: #111111;
$grayBg: #1e1e1e;
$grayBgLight: #252526;
$grayUi: #333333;

$textGray: #888888;
$textLightGray: #bbbbbb;

$chatInfo: #83cef0;
$chatComment: #5a9c4c;
$chatText: #7a7a7a;
