// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$blackText : #111111;
$grayBg: #1E1E1E;
$grayUi: #333333;

$textGray: #888888;
$textLightGray: #bbbbbb;

$chatInfo: #83CEF0;
$chatComment: #5A9C4C;
$chatText: #7A7A7A;